<h1>Portfolios#index</h1>
<p>Find me in app/views/portfolios/index.html.erb</p>

<%= link_to 'Add a new portfolio', new_portfolio_path, class: 'btn btn-flat' %>

<% if current_user.portfolios.empty? %>
  <%= link_to "Create a portfolio", new_portfolio_path %>
<% else %>
  <% current_user.portfolios.each do |portfolio| %>
    <%= link_to portfolio.name, portfolio_path(portfolio) %>
    <%= link_to 'Delete', portfolio_path(portfolio), method: :delete, class: 'btn btn-cancel', data: { confirm: 'Are you sure you want to delete this Portfolio?' } %>
  <% end %>
<% end %>
