<h1>Portfolios#new</h1>
<p>Find me in app/views/portfolios/new.html.erb</p>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new Portfolio</h3>
        <%= simple_form_for @portfolio do |f| %>
          <%= f.input :name, placeholder: 'Enter your portfolio name here' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
