<div class="forms">
  <div class="main-content">
  <div class="back-button">
    <%= link_to 'â†', portfolios_path, class: 'btn btn-link back' %>
  </div>
  <h1 style="text-align: center">Create a new Portfolio</h1>
    <div class="row">
      <div class="col-12 col-md-6 offset-lg-3">
          <%= simple_form_for @portfolio do |f| %>
            <%= f.input :name, placeholder: 'Enter your portfolio name here' %>
            <div class="d-flex align-items-center justify-content-center mt-5">
              <%= f.submit class: 'btn btn-flat' %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <div class="coins-list d-flex">
        <div class="coins1-card">
        </div>
        <div class="coins2-card">
        </div>
        <div class="coins3-card">
        </div>
  </div>
</div>
