
<h1>Welcome to CrytpONS</h1>
<p>Let's go</p>

<% @coins.each do  |coin| %>
  <h1><%= coin.name %></h1>
   <p><%= coin.symbol %></p>
   <p><%= coin.price %></p>
<% end %>

<%= link_to "Portfolio", portfolios_path %>
