
<div class="background-home">
  <div class="welcome">
  <br>
    <h1>Welcome to CrytpONS</h1>
    </div>
      <br>
    <h2>Your last wallet tracking.</h2>
      <p>Real-time tracking more than 1000 cryptocurrencies</p>
      <br>
      <div class="button-home">
        <a class="btn btn-flat" href="#">Try it now !</a>
        </div>
<div class="middle-page">
  <h3>Enim pulvinar amet rhoncus volutpat velit.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, egestas tellus leo et eu sed adipiscing. Diam tortor diam adipiscing ut sit eu sed venenatis. Odio non justo fames imperdiet eu neque fames.</p>
</div>
  <div class="bottom-page">
  <h4></h1>
    <h5></h2>
      <p></p>
</div>
</div>

<%= link_to "Portfolio", portfolios_path %>
