<body class="body-home">
  <div class="background-home">
    <div class="welcome">
      <br>
      <h1>Welcome to CrytpONS</h1>
    </div>
      <br>
      <h2>Your last wallet tracking.</h2>
        <p>Real-time tracking your portfolio</p>
        <br>
        <div class="button-home">
          <a class="btn btn-flat" href="#">Try it now !</a>
        </div>

  <div class="middle-page">
      <h3>A market with more than 1000 cryptocurrencies...</h3>
      <br>
      <br>
        <p>Discover, create and manage your portfolio wallet, as a beginner or an advanced cryptocurrency investor</p>
  </div>
  <div class="bottom-page">
  <h4>What else</h4>
    <h5>Wow</h5>
      <p>Impressive</p>
</div>
</div>
</body>
