<div class="hero-section">
  <div class="content text-center">
    <h3>Welcome to CrytpONS</h3>
    <div class="sub-header d-flex justify-content-between">
      <h1>Your last wallet tracking.</h1>
      <p>All-in-One portfolio tracker</p>
    </div>
    <div class="button-home mt-5">
      <a class="btn btn-flat" href="/portfolios">Try it now !</a>
    </div>
  </div>
</div>
  <div class="middle-page">
      <h3>A market with more than 1000 cryptocurrencies...</h3>
      <br>
      <br>
        <div class="centering-text-p1">
        <p>Welcome to CryptONS, the #1 cryptocurrency portfolio tracker app. Stay informed on the latest live crypto prices in real-time, view essential market data and much more...
        Discover, create and manage your portfolio wallet, as a beginner or an advanced cryptocurrency investor.</p>
        </div>
  </div>
  <div class="bottom-page">
  <h4>What if...</h4>
          <div class="centering-text-p2">
      <p>With CryptONS you can also create your own porfolio simulator and have a try at the future of finance </p>
        </div>
              <div class="coins-list-home d-flex">
        <div class="coins1-card">
        </div>
        <div class="coins2-card">
        </div>
        <div class="coins3-card">
        </div>
  </div>
</div>
