<div class="hero-section">
  <div class="content text-center">
    <h3>Welcome to CrytpONS</h3>
    <div class="sub-header d-flex justify-content-between">
      <h1>Your last wallet tracking.</h1>
      <p>Real-time tracking your portfolio</p>
    </div>
    <div class="button-home mt-5">
      <a class="btn btn-flat" href="#">Try it now !</a>
    </div>
  </div>
</div>
  <div class="middle-page">
      <h3>A market with more than 1000 cryptocurrencies...</h3>
      <br>
      <br>
        <p>Discover, create and manage your portfolio wallet, as a beginner or an advanced cryptocurrency investor</p>
  </div>
  <div class="bottom-page">
  <h4>What else</h4>
    <h5>Wow</h5>
      <p>Impressive</p>
</div>
