.page-container {
   background-image:asset_url("background2.png");
   background-repeat: no-repeat;
   background-position: bottom;
   width: 100%;
   height: 100vh;
   overflow: hidden;
  h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  }

  .coins1-card {
    background-image:asset_url("coins-image1.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 13rem;
    background-position: right top;

}
  .coins2-card {
    background-image:asset_url("coins-image2.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 15rem;
    transform: rotate(45deg);
}
  .coins3-card {
    background-image:asset_url("coins-image3.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 22rem;}
}
