table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-top: 1px solid #dddddd77;
  border-bottom: 1px solid #dddddd77;
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #00000038;
}
