table{
  font-family: 'Work Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
}


table.table-market {
  font-family: 'Work Sans', sans-serif;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  margin-bottom: 4vh;
  background: linear-gradient(90deg, rgba(26,26,32,0) 0%, rgba(15,15,18,0.7) 20%, rgba(15,15,18,0.7) 80%, rgba(15,15,18,0) 100%);

}

td, th {
  border-top: 1px solid #ffffff77;
  border-bottom: 1px solid #dddddd77;
  text-align: center;
  padding: 15px;
}

.market-table-hover {
  &:hover {
    background-color: #ffffff13;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.coin-logo-market {
  position: relative;
  left: 140px;
}

.coin-logo-favorite {
  position: relative;
  left: 90px;
}

tr:nth-child(even) {
  background-color: #00000038;
}

.market-title{
text-align: center;
padding: 40px;
background-image: linear-gradient(90deg, #6dc7ff, #ff95e1,#9e62ff);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
