table {
  font-family: 'Work Sans', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-top: 1px solid #dddddd77;
  border-bottom: 1px solid #dddddd77;
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #00000038;
}

.market-title{
text-align: center;
padding: 40px;
background-image: linear-gradient(90deg, #6dc7ff, #ff95e1,#9e62ff);
background-size: 100%;
background-repeat: repeat;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-moz-background-clip: text;
-moz-text-fill-color: transparent;
}
