.backgroundwatch {
  background-image: asset_url("background2.png");
  position: fixed;
  top: 0;
  width: 100vw;
  height: calc(100vh);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
