// views/portfolio/show.html.erb

.coins-image {
  background-image: asset_url("coins-image.png");
  height: 100%;
  background-repeat: no-repeat;
}

.portfolios-card {
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  padding: 20px;
}

.portfolio-card {

}

.portfolio-show-header {
  display: flex;
  justify-content: space-between;
}

.entry-info {
  display: flex;
  justify-content: space-between;
}

.portfolios-index {
  background-image: asset_url("background2.png");
  height: 87vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3% 5%;
}

// a{

// }
