// views/portfolio/show.html.erb

.portfolio-show {
background-color: rgba(255, 0, 0, 0.164);
}

.portfolio-show-header {
  display: flex;
  justify-content: space-between;
}

.entry-info {
  display: flex;
  justify-content: space-between;
}

.card-entries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.entry-card {
  width: 250px;
  padding: 10px 10px;
  border-radius: 8px;
  background: grey;
}
