<%# Market page with all coins  %>
<div class="market-title">
  <h1>More than a Market. Your next market reference!</h1>
</div>
<div class="market-table">
  <table>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>24h. %</th>
    </tr>
    <% @coins.each do |coin| %>
    <tr>
      <td><%= link_to coin.name, coin %></td>
      <td><%= coin.symbol %></td>
      <td><%= number_with_delimiter(coin.price, delimiter: ",", separator: ".") %> $</td>
      <td><%= coin.percentage_24.to_f.round(2) %> %</td>
    </tr>
    <% end %>
  </table>
</div>
